html,
body {
  margin: 0;
  padding: 0;
}

#banner {
  position: relative;
  width: 430px;
  height: 140px;
  overflow: hidden;
  background: #dadada;
}
#i01 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i02 {
  position: absolute;
  left: -35%;
  top: 35%;
  opacity: 0;
  scale: 0.2;
}
#i03 {
  position: absolute;
  left: 0;
  top: -50%;
  opacity: 0;
}
#i04 {
  position: absolute;
  left: -10%;
  top: 0;
  opacity: 0;
  scale: 0.2;
}
#i05 {
  position: absolute;
  left: 0;
  top: 50%;
  opacity: 0;
}
#i06 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  scale: 0.2;
}
#i07 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i07-1 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i09 {
  position: absolute;
  left: 0;
  top: -50%;
  opacity: 0;
}
#i10 {
  position: absolute;
  left: 0;
  top: 50%;
  opacity: 0;
}
#i11 {
  position: absolute;
  left: 0;
  top: -15%;
  opacity: 0;
  scale: 0.2;
}
#i12 {
  position: absolute;
  left: -100%;
  top: 0;
  opacity: 0;
}
#i13 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  scale: 0.2;
  animation: balancar 2s ease-in-out infinite;
}
@keyframes balancar {
  0% {
    rotate: -3deg;
  }
  50% {
    rotate: 3deg;
  }
  100% {
    rotate: -3deg;
  }
}
#i13-1 {
  position: absolute;
  left: 10%;
  top: 0;
  opacity: 0;
  scale: 0.2;
}
#i19 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i20 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i21 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}